<!DOCTYPE html>
<!-- This HTML file was used for the Flask frontend-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Census Homepage</title>
</head>
<body>
<p>
    Welcome to a tool for investigating the 2014 ASE and 2012 SBO data sets. <br>
    The 2014 ASE data can be found <a href="https://www.census.gov/data/developers/data-sets/ase.html" target="_blank">here</a> <br>
    The 2012 SBO data can be found <a href="https://www.census.gov/data/developers/data-sets/business-owners.html" target="_blank"> here</a>
</p>
{% block body %}
   <div class="container" align="left">
		<a href="/census-data" target="blank"><button class='btn btn-default'>View census data</button></a>
   </div>
{% endblock %}
</body>
</html>