#title {
	font-family: "Century", "Times New Roman";
	text-align: center;
}

#data-sets {
	font-family: "Century", "Times New Roman";
	text-align: center;
}

#option-form {
	text-align: center;
}

#chart-title {
	text-align: center;
}

#loading {
	text-align: center;
}